
html, body {
  height:100%;
}

.header
{
	height: 10%;
    background: rgba(255,193,7,1);
    margin: 20px 0px 0px 0px;
}

.content
{
	height: 60%;
    width:100%;
    background-image: url("../images/bg.jpg");
}
  
 ul {
    list-style-type: none;
    overflow: hidden;
}

 li {
    position: relative;
    float: left;
    width: 10%;
}

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    margin: 0px 0px 0px -9px;
    height: auto;
    width: 66%;
    background-color: rgba(0,128,0,1);
    color: white;
    float: left;
}

.dropdownimage
{
	height: 186%;
    width: 36%;
    
    margin: -26px 0px 4px 78px;
}


.tabimage {
    float: right;
    height: 150%;
    width: 36%;
    margin: -23px 77px 0px 122px;
}
.border
{
	border-style:solid; border-width:1px; border-color:#000000; border-spacing:1px 1px; border-radius:3px 3px 3px 3px; height:35px; padding-bottom:2px; padding-left:2px; padding-right:2px; padding-top:2px; 
}
.info {
	float:right;
	padding:14px 16px;
	background-color:rgb(192,192,192);
	width:25%
	
}
.paragraph1
{
	padding:30px,32px;
	text-align: center;
	
}
.ul.textbox {
    border: 1px solid black;
	width:30%;
	text-align: center; 
}