
html {
	
}

body {
	font-family: sans-serif;
	font-size: 14px;
}

.header
{
    background: rgba(255,193,7,1);
    border-bottom: solid 2px red;
    height: 50px;
}

.icon {
	float: left;
	height: 50px;
}

.content
{
	height: 400px;
    width:100%;
    overflow: auto;
    background-image: url("../images/background.png");
}
  
 ul {
    list-style-type: none;
    margin-top: 8px;
    height: 100%;
}

 .header li {
 	display: inline; 	
    float: left;
    width: 10%;    
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px; 
}

 .header li a {    
    display: inline-block;
    cursor: pointer;
}

.header li:hover {
	background-color: orange;
	border: solid 1px red;
	border-radius: 4px;
}

.active {
    margin: 0px 0px 0px -9px;
    height: auto;
    width: 66%;
    background-color: rgba(0,128,0,1);
    color: white;
    float: left;
}

.dropdownimage
{
	height: 186%;
    width: 36%;
    
    margin: -26px 0px 4px 78px;
}


.tabimage {
    float: right;
    height: 150%;
    width: 36%;
    margin: -23px 77px 0px 122px;
}

.border
{
	background-color: gray;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.info {
	float:right;
	margin-top: 10px;
	margin-right: 10px;
	padding: 2px;
	background-color:#E7E3DE;
	
}
.paragraph1 {
    padding: 30px,32px;
    text-align: center;
    font-size: xx-large;
    font-family: initial;
    font-weight: bold;
    font-feature-settings: initial;
}
.paragraph2
{
	font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    /*padding-top: 2px;*/
    font-size: x-large;
    font-weight: bold;
    text-decoration: inherit;
}
.ul.textbox {
    border: 1px solid black;
	width:30%;
	text-align: center; 
}
.panel
{
  border:1px solid black;
  padding-top:45px;
    padding-bottom:45px; 
    width:50%
}
.JobTitleTab
{
	float: Left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.DesiredLocationTab
{
	float: Left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.ExperienceTab
{
	float: Left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.Search
{
	float:Right;
	
}